html, body { 
	margin: 0; 
}

.container {
	display: flex;	
}

.container.tool-icons {
	flex-direction: column;
	transform: scale(0.5);
}

.item {
	border: 0.25em hsl(0, 0%, 22%) solid;
}

.tool-icon:hover .tool-background {
	fill: hsl(0, 0%, 25%);
	stroke: hsl(0, 0%, 25%);
}

.tool-icon.selected .tool-background{
	fill: hsl(217, 47%, 55%);
	stroke: hsl(217, 47%, 55%);
}

#controls {
	background-color: hsl(0, 0%, 22%);
}

svg .tool-tip {
	font-size: 22px;
	font-family: sans-serif;
	fill: hsl(0, 0%, 89%);
}

svg .tool-tip-background {
	fill: hsl(26, 100%, 70%);
}

svg .background {
	fill: hsl(0, 0%, 88%);
}

svg .paper {
	fill: hsl(0, 0%, 88%);
}

svg .vertex {
	fill: hsl(221, 12%, 60%);
}

svg .vertex:hover {
	fill: hsl(221, 12%, 50%);
}

svg .vertex.selected {
	fill: hsl(26, 100%, 70%);
}

svg .vertex.selected:hover {
	fill: hsl(26, 100%, 60%);
}

svg .crease {
	stroke: hsl(240, 10%, 70%);
	stroke-width: 4;
	stroke-linecap: round;
}

svg .crease:hover {
	stroke-width: 6;
}

svg .crease.valley {
	stroke: hsl(217, 47%, 55%);
	stroke-dasharray: 8;
}

svg .crease.valley:hover { 
	stroke: hsl(217, 47%, 45%);
}

svg .crease.mountain {
	stroke: hsl(359, 36%, 45%);
	stroke-dasharray: 18, 10, 1, 8, 1, 10;
}

svg .crease.mountain:hover { 
	stroke: stroke: hsl(359, 36%, 35%);
}

svg .crease.selected {
	stroke: hsl(48, 100%, 50%);
}


