html, body {

	/*margin: 0; */
	background-color: hsl(0, 0%, 22%);
}

#controls {
}

#graphics {
}

.header {
	text-align: center;
	font-family: 'Noto Sans';
	font-size: 10px;
	color: hsl(0, 0%, 88%);
}

p {
	font-family: 'Noto Sans';
	font-size: 10px;
	color: hsl(0, 0%, 88%);
	line-height: 50%;
}

.container {
	display: flex;
}

.container.row {
	flex-direction: row;
	align-items: center;
}

.container.column {
	flex-direction: column;
	align-items: center;
}

.item {
}

/* Add margins between pairs of items */
.item + .item {
	margin-left: 1%;
}

.tool-icon {
}

.tool-icon:hover .tool-background {

	/* Light gray */
	fill: hsl(0, 0%, 25%);
	stroke: hsl(0, 0%, 25%);
}

.tool-icon.selected .tool-background {

	/* Blue */
	fill: hsl(217, 47%, 55%);
	stroke: hsl(217, 47%, 55%);
}

svg .tool-tip {
	fill: hsl(0, 0%, 89%);
	/*animation: hideafter 5s ease forwards 1;*/
}

svg .tool-tip-background {
	fill: hsl(221, 12%, 60%);
	/*animation: hideafter 5s ease forwards 1;*/
}

svg .background {
	fill: hsl(0, 0%, 88%);
}

svg .paper {
	fill: hsl(210, 1%, 66%);
}

svg .vertex {
	opacity: 0;
}

svg .vertex:hover {
}

svg .vertex.selectable {

	/* Dark gray */
	opacity: 1;
	fill: hsl(0, 0%, 16%);	/* Basically, some extra padding to make clicking easier */
	stroke-width: 10;
	stroke: hsl(0, 0%, 0%);
	stroke-opacity: 0;
}

svg .vertex.selected {

	/* Off-white */
	opacity: 1;
	fill: hsl(0, 0%, 89%);
}

/* Whenever a vertex is selected (or selectable) and the user hovers over it */
svg .vertex.selected:hover, .vertex.selectable:hover {
}

svg .expanded {
	fill: hsl(0, 0%, 89%);
}

svg .crease {

	/* Dark gray */
	stroke-width: 2;
	stroke: hsl(0, 0%, 16%);
	stroke-linecap: round;
}

svg .crease:hover {
	stroke-width: 3;
}

svg .crease.valley {
	stroke: hsl(217, 47%, 55%);
	stroke-dasharray: 4;
}

svg .crease.valley:hover {
	stroke: hsl(217, 47%, 45%);
}

svg .crease.mountain {
	stroke: hsl(359, 36%, 45%);
	stroke-dasharray: 12, 4, 1, 4, 1, 4;
}

svg .crease.mountain:hover {
	stroke: hsl(359, 36%, 35%);
}

svg .crease.selectable {
	stroke-width: 4;
}

svg .crease.selectable:hover {
	stroke-width: 5;
}

svg .crease.selected {
	stroke: hsl(48, 100%, 50%);
}

@keyframes hideafter {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}

}