html, body { 
	margin: 0; 
	background-color: hsl(0, 0%, 22%);
}

.header {
	text-align: center;
	font-family: 'Heebo';
  	font-size: 8px;
  	color: hsl(0, 0%, 88%);
}

.container {
	display: flex;
}

.container.row {
	flex-direction: row;
	align-items: center;
}

.container.column {
	flex-direction: column;
	align-items: center;
	/*border: 2em hsl(0, 0%, 22%) solid;*/
}

.item {
	border: 1px hsl(0, 0%, 22%) solid;
}

.tool-icon {

}

.tool-icon:hover .tool-background {
	fill: hsl(0, 0%, 25%);
	stroke: hsl(0, 0%, 25%);
}

.tool-icon.selected .tool-background{
	fill: hsl(217, 47%, 55%);
	stroke: hsl(217, 47%, 55%);
}

svg .tool-tip {
	fill: hsl(0, 0%, 89%);
	animation: hideafter 5s ease forwards 1;
}

svg .tool-tip-background {
	fill: hsl(221, 12%, 60%);
	animation: hideafter 5s ease forwards 1;
}

svg .background {
	fill: hsl(0, 0%, 88%);
}

svg .paper {
	fill: hsl(210, 1%, 66%);
	stroke-width: 2;
	stroke: hsl(210, 1%, 56%);
}

svg .vertex {
	opacity: 0;
}

svg .vertex:hover {
	
}

svg .vertex.selectable {
	/* Black */
	opacity: 1;
	fill: hsl(0, 0%, 16%); 

	/* Basically, some extra padding to make clicking easier */
	stroke-width: 10;
	stroke: hsl(0, 0%, 0%);
	stroke-opacity: 0;
}

svg .vertex.selected {
	/* Off-white */
	opacity: 1;
	fill: hsl(0, 0%, 89%); 
}

/* Whenever a vertex is selected (or selectable) and the user hovers over it */
svg .vertex.selected:hover, .vertex.selectable:hover {
	
}

svg .expanded {
	fill: hsl(0, 0%, 89%);
}


svg .crease {
	/* Black */
	stroke-width: 2;
	stroke: hsl(0, 0%, 16%); 
	stroke-linecap: round;
}

svg .crease:hover {
	stroke-width: 3;
}

svg .crease.valley {
	stroke: hsl(217, 47%, 55%);
	stroke-dasharray: 8;
}

svg .crease.valley:hover { 
	stroke: hsl(217, 47%, 45%);
}

svg .crease.mountain {
	stroke: hsl(359, 36%, 45%);
	stroke-dasharray: 18, 10, 1, 8, 1, 10;
}

svg .crease.mountain:hover { 
	stroke: hsl(359, 36%, 35%);
}

svg .crease.selectable {
	stroke-width: 4;
}

svg .crease.selectable:hover {
	stroke-width: 5;
}

svg .crease.selected {
	stroke: hsl(48, 100%, 50%);
}

@keyframes hideafter {
  0% { 
  	opacity: 0; 
  }
  10% {
  	opacity: 1;
  }
  50% { 
  	opacity: 1; 
  }
  100% { 
  	opacity: 0; 
  }
} 
