svg {

}
	
html, body { 
	margin: 0; 
}

.container {
	display: flex;	
}

.item {
	border: 1em hsl(120, 1%, 15%) solid;
}

.container p {
	font-weight: bold;
	font-family: Arial;
	color: hsl(120, 1%, 65%);
}

.container label {
	font-family: Arial;
	color: hsl(120, 0%, 54%);
}

.container input[type="radio"]:checked+label {
	color: hsl(211, 85%, 80%);
}

#controls {
	background-color: hsl(120, 1%, 23%);
}

svg .vertex {
	fill: hsl(221, 12%, 60%);
}

svg .vertex:hover {
	fill: hsl(221, 12%, 50%);
}

svg .vertex-selected {
	fill: hsl(26, 100%, 70%);
}

svg .vertex-selected:hover {
	fill: hsl(26, 100%, 60%);
}

svg .crease {
	stroke: hsl(240, 10%, 70%);
	stroke-width: 4;
	stroke-linecap: round;
}

svg .crease:hover {
	stroke-width: 5;
}

svg .crease.valley {
	stroke: hsl(225, 100%, 60%);
	stroke-dasharray: 8;
}

svg .crease.valley:hover { 
	stroke: hsl(225, 100%, 50%);
}

svg .crease.mountain {
	stroke: hsl(3, 100%, 60%);
	stroke-dasharray: 18, 10, 1, 8, 1, 10;
}

svg .crease.mountain:hover { 
	stroke: hsl(3, 100%, 50%);
}

svg .crease-selected {
	stroke: hsl(48, 100%, 50%);
}

svg .crease-selected:hover {
	stroke: hsl(48, 100%, 40%);
}

